@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffe5d4;
  position: relative;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  background-color: #0a0f0d;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav .info-left {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

header nav .info-left ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav .info-left ul li {
  list-style: none;
}

header nav .info-left ul li a {
  color: #ffe5d4;
  text-decoration: none;
}

/* logo */
header nav .logo-inicio {
  width: 30%;
  display: flex;
  justify-content: center;
}

header nav .logo-inicio a img {
  width: auto;
  height: 80px;
  background-color: #ffe5d4;
  border-radius: 45%;
}

header nav .botones {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav .botones a button {
  color: #ffe5d4;
  /* background-color: #739e82; */
  border-radius: 5px;
}

/* estilos del contenido del body */
.home-main {
  background-color: #ab2340;
}

.home-main .titulo {
  text-align: center;
  padding: 40px;
  font-weight: bold;
  color: #ffe5d4;
  margin: 0;
  text-transform: uppercase;
}

.home-main .lorem-img {
  display: flex;
  align-items: center;
}

.home-main .lorem-img .lorem-left {
  padding: 10%;
  width: 50%;
}
.home-main .lorem-img .lorem-left h2 {
  color: #ffe5d4;
  font-weight: bold;
}
.home-main .lorem-img .lorem-left h3 {
  color: #ffe5d4;
  font-size: 20px;
  padding-right: 200px;
}

.home-main .lorem-img .imagenes-right {
  padding: 40px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.home-main .lorem-img .imagenes-right img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
  padding: 20px;
}

.home-main .lorem-img .imagenes-right .imagen-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.home-main .lorem-img .imagenes-right .imagen-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

footer {
  background-color: #0a0f0d;
  width: 100%;
  height: 60px;
}

footer p {
  color: #ffe5d4;
  text-align: center;
  line-height: 60px;
  margin: 0;
}
